.parent{
    width: 400px;
    height:250px;
    background-color:black;
    border : 2px solid black;
    position : relative
}
.child{
    width: 150px;
    height : 100px;
    background-color:brown
    

}